#content{
    place-self: center;
    background-color: #e4e4e7;
    padding: 50px 100px;
    width: 500px;
    border: grey solid .5px;
    outline: #e4e4e7 solid 25px;
}

#topics {
    width: 350px;
    margin: auto;
}

h1, h2, p {
    text-align: center;
}

p {
    color: blue;
}

hr {
    border: none;
    background-color: #4f46e5;
    height: 2px;
}
img {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
}

ul {
    list-style: none;
}